<h2>Search Result</h2>

<div class="findFriendrow" ng-repeat="user in users">
    <img ng-src='{{"/Content/userImages/" + user.avatarUrl}}' alt="{{user.firstName}}" />
    <div class="infoContainer">
        <div class="info">{{user.firstName}} {{user.lastName}}</div>
        <div>
            <button class="btn btn-primary" ng-click="addFriend(user)" ng-disabled="user.friendRequestSent">
                {{user.friendRequestSent ? 'Friend Request Sent' : 'Add Friend'}}
            </button>
        </div>
    </div>
    <div class="clearBoth"></div>
</div>

<div class="clearBoth"></div>
<div ng-if="!users.length">
    <div class="alert alert-info">
        No result found based on your search!
    </div>
</div>