<h2>Post Add</h2>
<hr/>

<form class="form-horizontal" role="form" name="AddPostForm" novalidate>

    <ul class="text-danger" ng-if="addPostErrors">
        <li ng-repeat="addPostError in addPostErrors">{{ addPostError }}</li>
    </ul>

    <div class="form-group">
        <label for="PostText" class="col-md-2 control-label">Say Something</label>
        <div class="col-md-10">
            <textarea ng-model="post.text" name="PostText" id="PostText" ng-required="true"></textarea>
            <br/>
            <span class="field-validation-error" ng-if="addPostSubmitted && AddPostForm.PostText.$invalid">Please..... Say Something.</span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Submit" ng-click="addPost(post)" />
        </div>
    </div>

</form>