<h2>Friend Request(s)</h2>

<div class="findFriendrow" ng-repeat="user in users">
    <img ng-src='{{user.avatarUrl}}' alt="{{user.firstName}}" />
    <div class="infoContainer">
        <div class="info"><a ng-href="#/profile/{{user.id}}"><i class="fa fa-user"></i> {{user.firstName}} {{user.lastName}}</a></div>
        <div>
            <button class="btn btn-primary" ng-click="addFriend(user)" ng-disabled="user.addedAsFriend">
                {{user.addedAsFriend ? 'Request Confirmed' : 'Confirm'}}
            </button>
            <button class="btn btn-danger" ng-click="rejectFriend(user)" ng-hide="user.addedAsFriend">Reject</button>
        </div>
    </div>
    <div class="clearBoth"></div>
</div>

<div class="clearBoth"></div>
<div ng-if="!users.length">
    <div class="alert alert-info">
        You have no pending friend request!
    </div>
</div>