body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.bold {
    font-weight: bold;
}

#toast-container > div {
    -webkit-box-shadow: none !important;
    -ms-box-shadow: none !important;
    box-shadow: none !important;
    -ms-opacity: 1 !important;
    opacity: 1 !important;
    width: 335px !important;
}

.topBarSearchForm {
    padding: 10px;
    width: 200px;
}

.userNewsFeed .userIcon {
    height: 80px;
    width: 85px;
}

.userNewsFeed .postMessage {
    padding: 10px 0px 2px 0px;
}
.userNewsFeed {
    margin: 0px 0px 6px;
    padding: 11px;
    border: 1px solid rgb(179, 175, 175);
    background-color: aliceblue;
}
.userNewsFeed .postLike {
   
}

#userNewsFeed .postComment {
    
}