body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.bold {
    font-weight: bold;
}

#toast-container > div {
    -webkit-box-shadow: none !important;
    -ms-box-shadow: none !important;
    box-shadow: none !important;
    -ms-opacity: 1 !important;
    opacity: 1 !important;
    width: 335px !important;
}

.topBarSearchForm {
    padding: 10px;
    width: 300px;
}

.topBarSearchForm input {
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
}

.userNewsFeed .userIcon {
    height: 80px;
    width: 85px;
}

.userNewsFeed {
    margin: 0px 0px 6px;
    padding: 11px;
    border: 1px solid rgb(179, 175, 175);
    background-color: aliceblue;
}

.userNewsFeed .commentBox {
    float: none;
}

.userNewsFeed .postMessage {
    padding: 10px 0px 2px 0px;
}

.userNewsFeed .postLike {
   
}

#userNewsFeed .postComment {
    
}


div.findFriendrow {
    border: 1px solid #BFBFBF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    float: left;
    margin: 3px 3px 10px 3px;
    padding: 3px;
    width: 270px;
}

div.findFriendrow img {
    float: left;
    width: 100px;
    padding-right:10px;
}
div.findFriendrow div.infoContainer {
    float: left;
}

div.info {
    height: 58px;
}
div.clearBoth {
    clear: both;
} 

.block {
    border: 1px solid #CCCCCC;
    -webkit-box-shadow: 0 2px 5px 0 #CCCCCC;
    -ms-box-shadow: 0 2px 5px 0 #CCCCCC;
    box-shadow: 0 2px 5px 0 #CCCCCC;
    margin-bottom: 15px;
    padding: 10px;
}

.friendIcon img {
    height: 50px; width: 60px;
}